/node_server/data
/node_server/node_modules
/node_server/build
/code/lib/ricpns
/code/lib/htmlcxx-0.84
/build
test.data
/tex/report.dvi
/tex/report.log
/tex/report.out
/tex/report.pdf
/tex/report.toc
/tex/report.aux
/server/node_modules
/server/build
